.main {
    margin-top: 80px;
    margin-bottom: 50px;
    &-city{
        font-size: 32px;
        font-weight: 300;
    }
    &-temp {
        font-size: 100px;
        margin: 10px;
        line-height: 70px;
        font-weight:300;
    }
    &-descr {
        font-size: 18px;
        margin: 5px;
        font-weight: 500;
        text-transform: capitalize;
    }
    &-maxmin {
        font-size: 18px;
        margin: 5px;
        font-weight: 500;
    }
}