@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');


.App {
  text-align: center;
}

body {
  font-family: 'Roboto', sans-serif;
  background: radial-gradient(circle, rgba(211,230,249,1) 0%, rgba(76,138,196,1) 59%);  color: #fff;
}
p {
  margin: 0;
}
.container {
  background-color: #3274B7;
  width: 90%;
  margin: 0 auto;
  border-radius: 20px;
  padding: 10px;
}

progress {
  border-radius: 2px; 
  height: 3px;
  width: 80px;
}
progress::-webkit-progress-bar {
  background-color: #397CBF;
  border-radius: 2px;
}
progress::-webkit-progress-value {
  background: linear-gradient(90deg, rgb(206, 200, 0), rgb(223, 49, 0) 100%);
  border-radius: 2px;
}
.spinner {
  justify-content: center;
  margin-top: 50vh;
}